---
layout: base
---

{% include header.html type="page" %}

<div class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}" role="main">
  <div class="row">
    <div class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}">
      {% if page.before-content %}
        <div class="before-content">
          {% for file in page.before-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {{ content }}

      <script src="/assets/js/nostr-zap@0.4.0"></script>

      <script
	src="/bundle.js"
	// YOUR PUBKEY IN HEX FORMAT
	data-website-owner-pubkey="a60e79e0edad5100d7543b669e513dbc1c2170e8e9b74fdb8e971afd1e0e6813"
	// THE TYPE OF CHAT YOU WANT: GLOBAL or DMs
	data-chat-type="DM" 
	// If you use GLOBAL you can choose set a comma-separated list of hashtags
	data-chat-tags="nostrica,bitcoin"
	// Relays you'd like to use, change this this as you wish
	data-relays="wss://relay.f7z.io,wss://nos.lol,wss://relay.nostr.info,wss://nostr-pub.wellorder.net,wss://relay.current.fyi,wss://relay.nostr.band"
></script>
<link rel="stylesheet" href="/bundle.css">

      {% if page.after-content %}
        <div class="after-content">
          {% for file in page.after-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {% include comments.html %}
    </div>
  </div>
</div>
